.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    background: radial-gradient(circle at top left,
            #2b2f77,
            #0b0d1a 60%);
    color: #ffffff;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content {
    max-width: 500px;
    /* margin-right: 220px; */
}

.hero-content h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
}

.hero-content h1 span {
    color: #6c63ff;
}

.hero-content p {
    margin: 20px 0;
    font-size: 16px;
    color: #cfcfcf;
}

.cta-btn {
    padding: 14px 28px;
    background-color: #6c63ff;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cta-btn:hover {
    background-color: #584fe6;
}

.hero-image {
    position: relative;
}

/* .image-card {
  background: #1c1f3f;
  padding: 20px;
  border-radius: 20px;
  transform: rotate(-8deg);
} */

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    transition: all 0.3s;
}
.hero-image img:hover{
    box-shadow: 0 4px 16px 0 #ecfdf580;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-image {
        margin-top: 40px;
    }

    .hero-content h1 {
        font-size: 40px;
    }
}