@import "tailwindcss";

/* Custom fonts */
@font-face{
  font-family: Centra;
  src: url('../../public/fonts/CentraNo2-Bold.ttf');
  font-weight: 700;
}
@font-face{
  font-family: Centra;
  src: url('../../public/fonts/CentraNo2-Book.ttf');
  font-weight: 400;
}
@font-face{
  font-family: Centra;
  src: url('../../public/fonts/CentraNo2-Medium.ttf');
  font-weight: 500;
}

/* Default Css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

:root {
  --white: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #121212 !important;
  color: var(--white) !important;
  font-family: 'Centra', sans-serif !important;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

section{
  padding: 90px 0;
}